.button-group {
    display: flex;
    background-color: #fff;

    &.sm .button {
        padding: 5px 10px;
        font-size: 0.75rem;
    }

    &.md .button {
        padding: 10px 20px;
        font-size: 1rem; 
    }

    &.lg .button {
        padding: 15px 30px;
        font-size: 1.25rem; 
    }

    .button {
        border: 1px solid #DFE2E4;
        background-color: #FAFAFB;
        color: #333333;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        outline: none;

        &:not(:first-child) {
            border-left: none;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &.active {
            background-color: #106BEF;
            color: #fff;
            border-color: #106BEF;
            z-index: 1;
        }

        &:hover:not(.active) {
            background-color: #E3E4E6;
        }

        &:disabled {
            background-color: #ECECEC;
            color: #A1A1A1;
            cursor: not-allowed;
        }
    }
}